:root {
    --purple: #8b597b;
    --dark: #493129;
    --bar: #c9a6bb;
    --bg: #fbf0e4;
    --cards: #F1D9DA;
}

/* fondo */
body {
    margin: 0;
    background-color: var(--bg);
}

/* BARRA */
.navbar {
    height: 60px;
    background-color: var(--bar) !important;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

/* 🔥 texto general de la barra en negro */
.navbar * {
    color: #000000 !important;
}

/* 🔥 excepción: botón Inicio en blanco */
#inicio {
    background-color: var(--purple) !important;
    border-color: var(--purple) !important;
    color: #ffffff !important;
}

/* centro */
.contenido {
    width: 100%;
    transform: translateY(-20px);
}

/* BOTONES PRINCIPALES */
#botonReserva,
#botonConsultar,
#botonAtras,
#botonSiguiente,
#botonSalir {

    background-color: var(--purple) !important;
    border-color: var(--purple) !important;
    color: #ffffff !important;

}

/* hover */
#botonReserva:hover,
#botonConsultar:hover,
#botonAtras:hover,
#botonSiguiente:hover,
#botonSalir:hover {

    background-color: var(--dark) !important;
    border-color: var(--dark) !important;
    color: #ffffff !important;

}

/* cuadros de fotos */
.btn-outline-dark,
.card-edificio {

    background-color: var(--cards) !important;
    border-color: var(--cards) !important;

}
.contenido-ajustado {
    transform: translateY(-15px);
}